<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>EMIS Log-in</title>

        <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
        <link rel="stylesheet" href="../../static/EMIS/style.css">
    </head>

    <body>
        <div class="login-card">
            <h1>EMIS Log-in</h1><br>
            <form action="" method = "POST">
                {% csrf_token %}
                {{ form }}
                <!--input type="text" name="user" placeholder="Username">
                <input type="password" name="password" placeholder="Password"-->
                <input type="submit" class="login login-submit" value="login">
            </form>
            <div class="login-help">
                <a href="#">Register</a> • <a href="#">Forgot Password</a>
            </div>
        </div>
    </body>
</html>
