<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>EMIS Logged Out</title>

        <!--link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'-->
        <link rel="stylesheet" href="../../static/EMIS/style.css">
    </head>

    <body>
        <div class="login-card" align="center">
            <h1>EMIS Portal</h1>
            <h2>You have successfully logged out!</h2><br>
            Please login <a href="{% url 'login' %}">here</a>
        </div>
    </body>
</html>
