<!--link rel="stylesheet" href="../../static/EMIS/style.css"-->
{% extends "patient.html" %}
{% block content %}
    <div id="content">
        <div class="innertube">
            <h3>Patient Information</h3>
            <form action="{% url 'patPI' %}" method = "post">
                <table cellpadding="0" class="main">
                    <tbody>
                        <tr>
                            <td><div align="left">First Name</div></td>
                            <td><div align="left">Last Name</div></td>
                            <td><div align="left">M.I.</div></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="f_name"></td>
                            <td><input type="text" name="l_name"></td>
                            <td><input type="text" name="mid_in"></td>
                        </tr>
                        <tr height="15"></tr>
                        <tr>
                            <td><div align="left">Date Of Birth</div></td>
                            <td><div align="left">Age</div></td>
                            <td><div align="left">Sex</div></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="dob"></td>
                            <td><input type="text" name="age"></td>
                            <td><input type="text" name="sex"></td>
                        </tr>
                        <tr height="15"></tr>
                        <tr>
                            <td><div align="left">Address</div></td>
                        </tr>
                        <tr>
                            <td colspan="3"><input type="text" name="address" class="formtext"></td>
                        </tr>
                        <tr height="15"></tr>
                        <tr>
                            <td><div align="left">City</div></td>
                            <td><div align="left">State</div></td>
                            <td><div align="left">Zip</div></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="city"></td>
                            <td><input type="text" name="state"></td>
                            <td><input type="text" name="zip"></td>
                        </tr>
                        <tr height="15"></tr>
                        <tr>
                            <td><div align="left">Phone</div></td>
                            <td><div align="left">Email</div></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="phone"></td>
                            <td colspan="2"><input type="text" name="email" class="formtext"></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <input type="submit" class="login login-submit" value="Submit Updates">
            </form>
        </div>
    </div>
{% endblock %}

{% block nav %}
    > <a href="#">View/Update Personal Information</a>
{% endblock %}}