<link rel="stylesheet" href="../../static/EMIS/style.css">
{% extends "doctor.html" %}
{% block main %}
    <div id="content">
        <div class="innertube">
            <h3>Please fill out the information:</h3>
            <form method="post" action="/doc_add-medrec/">
                {% csrf_token %}
                <table>
                    {{ medrec_form }}
                </table>
            <br>
            <input type="submit" class="login login-submit" value="Submit Updates">
            </form>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block nav %}
    > <a href="#">Add Medical Record</a>
{% endblock %}}