<link rel="stylesheet" href="../../static/EMIS/style.css">
{% extends "doctor.html" %}
{% block main %}
    <div id="content">
        <div class="innertube">
            <h3>Appointment detail for {{ person.first_name }} {{ person.last_name }}</h3>
            {% for field in detail %}
                {{ field }}
            {% endfor %}

            {{ detail }}
        </div>
    </div>
{% endblock %}

{% block nav %}
    > <a href="{% url 'docViewPatients' %}">View Patients</a> > <a href="#">View Medical Record</a>
{% endblock %}}