<link rel="stylesheet" href="../../static/EMIS/style.css">
{% extends "doctor.html" %}
{% block main %}
    <div id="content">
        <div class="innertube">
            <h3>Appointment Detail for {{ person.first_name }} {{ person.last_name }}</h3>
            {% for field in items %}
                <table>
                    <tr>{{ field.my_date }}</tr>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block nav %}
    > <a href="#">View Calendar</a>
{% endblock %}}