{% extends 'base.html' %}
{% block content %}
        <div class="login-card">
            <h1>EMIS Forgot Password</h1><br>
            {% if form.errors %}
                <p style="color:red"><strong>{{ form.errors }}</strong></p>
            {% endif %}
            {% if form.message %}
                <p style="color:red"><strong>{{ form.message }}</strong></p>
            {% endif %}

           <form action="/forgot_password/" method="post">
                {% csrf_token %}                
                <label for="email_address">Email Address:</label>
                <input type="text" name="email_address" value="" id="email_address">
                <input type="submit">
            </form>
            <div class="login-help">
                 <a href="/login/">Login</a> • <a href="/create_account/">Need to Register?</a>
            </div>
        </div>
{% endblock %}