{% extends 'base.html' %}
{% block content %}
        <div class="login-card">
            <h1>EMIS Log-in</h1><br>
            {%  if form.locked_out %}
                <p style="color:red"><strong>Your account has been locked.  Please click Forgot Password to unlock account.</strong></p>
             {% endif %}
             {%  if form.attempts %}
                <p style="color:red"><strong>Attempts {{ form.attempts }} of 3.</strong></p>
             {% endif %}
             {% if form.errors %}
                <p style="color:red"><strong>Your username and password didn't match. Please try again.</strong></p>
            {% endif %}

           <form action="/auth/" method="post">
                {% csrf_token %}

                <!--input type="text" name="user" placeholder="Username">
                <input type="password" name="password" placeholder="Password"-->
                <label for="username">User name:</label>
                <input type="text" name="username" value="" id="username">

                <label for="password">Password:</label>
                <input type="password" name="password" value="" id="password">

                <input type="submit" value="login">
            </form>
            <div class="login-help">
                <a href="/create_account/">Need to Register?</a> • <a href="/forgot_password/">Forgot Password</a>
            </div>
        </div>
{% endblock %}