<!--link rel="stylesheet" href="../../static/EMIS/style.css"-->
{% extends "patient.html" %}
{% block main %}
    <div id="content">
        <div class="innertube">
            <h3>Patient Information</h3><form method="post" action="/pat_pers-info/">
                {% csrf_token %}
                <table>
                    {{ user_form }}
                    {{ profile_form }}
                </table>
                <br>
            <input type="submit" class="login login-submit" value="Submit Updates">
            </form>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block nav %}
    > <a href="#">View/Update Personal Information</a>
{% endblock %}}