<link rel="stylesheet" href="../../static/EMIS/style.css">
{% extends "patient.html" %}
{% block main %}
    <div id="content">
        <div class="innertube">
            <h3>Insurance Information</h3>
            <form method="post" action="/pat_pers-info/">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
            <br>
            <input type="submit" class="login login-submit" value="Submit Updates">
            </form>
        </div>
    </div>
{% endblock %}

{% block nav %}
    > <a href="#">View/Update Insurance Information</a>
{% endblock %}}