{% extends 'base.html' %}
{% block content %}
        <div class="login-card">
            <h1>EMIS Reset Password</h1><br>
            {% if form.errors %}
                <p style="color:red"><strong>{{ form.errors }}</strong></p>
            {% endif %}

           <form action="/verify_password/" method="post">
                {% csrf_token %}                
                <label for="password">Password:</label>
                <input type="password" name="password" value="" id="password">
                <label for="verify_password">Verify Password:</label>
                <input type="password" name="verify_password" value="" id="verify_password">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="submit">
            </form>
            <div class="login-help">
                 <a href="/login/">Login</a> • <a href="/create_account/">Need to Register?</a>
            </div>
        </div>
{% endblock %}